{% extends 'base.html.twig' %}

{% block body %}
<h1>{{ monster.name }}</h1>
    <h3>Health {{ monster.health }}</h3>
    <h3>Experience {{ monster.experience }}</h3>
    <a href="/">Go back</a>
    <a href="/photo/new/{{ monster.id }}">Add photo</a>
{% endblock %}