{% extends 'base.html.twig' %}

{% block body %}
    <h1>Użytkownik został usunięty!</h1>
    <h2>{{ user.firstname }}</h2>
    <h3>{{ user.email }}</h3>
    <a href="{{ url('monster_index') }}">Go back</a>
{% endblock %}